/* fond de page */
html {
  color:blue;
  background: linear-gradient(to right, #7DE2FC 0%, #B9B6E5 100%);  
  background-size: cover;
  background-repeat:repeat;
  color: black;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;

}
body{
  padding: 10px 10px 10px 10px;
  width:90%;
  margin-top: 2%;
  margin-left: 5%;
  background-color: rgba(225,225,225,0.5);
  border-radius: 2%;
}

/* bandeau de titre */
h1 { 
  color: black;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  text-shadow: none;
  font-size: 3.5em;
  font-weight: 100;
/*3px 3px 3px black;*/
}

p9{
  color: black;
  font-size: 1.8em;
  font-weight: 100;
  font-style: italic;
  font-family:Arial;
}

p7 {
  color: black;
  font-size: 1.5em;
  font-weight: 800;
}

/* contenu de la page */
body > * {   padding-left: 30px; }

/* polices de caractères */
body { font-family: Trebuchet MS, sans-serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }


input, textarea {
  font-family: monospace;
  background-color: transparent;
  padding: 0px 0.5em;
  width: 12em;
  font-size: 0.8em;
  line-height: 1.5em;
  color: rgb(130,130,130);
  margin-top: 3px;
  display: inline-block;
  border: 0.5px dashed rgb(50,50,50) ;
  


}

select{
  background-color: transparent;
  color: rgb(130,130,130);
  border: 0.5px dashed rgb(50,50,50) ;

}

button {
  
  background: rgb(50,50,50) ;
  display: inline-block;

  padding: 5px 0.5em;
  border-radius: 2px;
  border: 2px ;
  margin: 1em 0;

  color: #eee;

  right: calc(100% - 8em - 3px);
}

button:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

/*
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
*/
a.delete:hover {
  color: red;
}
#map { height: 400px; width: 600px; }

#courbe
{
opacity:0.8;
filter:alpha(opacity=80);
}
